
.section{ font-size: 12px; color: #999; padding-bottom: 17px; margin-bottom: 17px; border-bottom: 1px dashed #d9d9d9;
    header { color: #717171;
        span{ color: #4094c7;  }
    }
    .title{ margin-top: 10px; color: #555; }
    .footer{ }
}
