
.section{ margin-top: 130px;
    .header{ text-align: center; font-size: 18px; font-weight: bold; color: #999; margin-bottom: 20px;
        span{cursor: pointer;}
    }
    .form{
        input, button{outline: none;}
    }
}
